body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-header {
  text-align: center;
  color: #f0e9e9;
  background-color: rgb(192, 42, 42);
  margin: 0;
}

.form-label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px; /* Add margin from the right */
  width: calc(100% - 10px); /* Subtract margin width to maintain fixed size */
}

.form-checkbox {
  margin-top: 5px;
}

.form-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #0056b3;
}

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
